<?xml version="1.0"?>
<config>
    <modules>
        <Atharva_Customerattribute>
            <version>0.0.0</version>
        </Atharva_Customerattribute>
    </modules>
    <global>
        <helpers>
            <customerattribute>
                <class>Atharva_Customerattribute_Helper</class>
            </customerattribute>
        </helpers>
        <models>
            <customerattribute>
                <class>Atharva_Customerattribute_Model</class>
                <resourceModel>customerattribute_mysql4</resourceModel>
            </customerattribute>
        </models>
        <resources>
            <customerattribute1415104755_setup>
                <setup>
                    <module>Atharva_Customerattribute</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute1415104755_setup>
            <customerattribute1415104755_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute1415104755_write>
            <customerattribute1415104755_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute1415104755_read>
        </resources>
    </global>
</config> 